@charset "utf-8";
/* CSS Document */

@font-face {
font-family: 'Akrobat ExtraBold';
font-style: normal;
font-weight: normal;
src: local('Akrobat ExtraBold'), url('Akrobat-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'MYRIADPROREGULAR';
	src: url('./MYRIADPROREGULAR.eot');
	src: local('MYRIADPROREGULAR'), url('./MYRIADPROREGULAR.woff') format('woff'), url('./MYRIADPROREGULAR.ttf') format('truetype');
}

html {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.u_wrapper {
	width: 80%;
	margin: 0 auto;
}
header {
}
section {
	padding: 15px 0px;
}
section#u_slider {
	padding-top: 0px !important;
}
.header1 {
	background-color: #163b63;
	color: #fff;
	padding: 10px 0px;
}
p {
	margin: 0;
	padding:0;
}
.header1 p {
	display: inline-block;
	font-size: 13px;
	padding: 5px 15px;
}
.u_header_left, .u_header_right {
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}
.u_header_left {
	width: 70%;
}
.u_header_right {
	width: 30%;
}
.soc_icons {
	padding:0;
	margin:0;
	text-align:right;
	list-style-type:none;
}
.soc_icons li.icon {
	display: inline-block;
	padding: 5px 10px;
}
.header2 {
	background-color: #fff;
}
.logo {
	padding: 15px 0px;
    display: inline-block;
    width: 170px;
    height: auto;
}
.logo img {
	width: 100%;
	height: auto;
}
.header3 {
	background-color: #f36301;
}
.u_main_menu {
	
}
.main-menu {
	list-style-type: none;
	margin: 0;
	text-align:right;
	padding: 8px 0px;
}
.main-menu li {
	display: inline-block;
	margin-right:-4px;
	border-right: 1px solid #fff;
	color: #fff;
	padding: 0px 20px;
	line-height:14px;
	text-transform:uppercase;
	font-size: 14px;
}
.main-menu li:last-child {
	border-right: 0px;
}
.main-menu li a {
	color: inherit;
	text-decoration:none;
}
.slider {
	height: 500px;
	background-image:url(../img/bg.png);
}
.parallax {
	height: 260px;
	background-image:url(../img/bg2.png);
	position:relative;
	background-attachment: fixed;
    background-size: cover;
}
.parallax-in {
	background-color:rgba(247,165,13,0.8);
	color: #fff;
	position:absolute;
	width: 100%;
	height: 100%;
}
.parallax-in p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 46px;
	text-transform: uppercase;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 60px 0px;
}
.intro1 {
	width: 65%;
	height: auto;
}
.intro1 p {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #3d3d3d;
	line-height: 27px;
}
.intro1 .heading {
	font-family: 'Akrobat ExtraBold';
	color: #264b73;
	font-size:47px;
	margin-bottom: 25px;
}
.intro1, .intro2 {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding: 15px;
	box-sizing: border-box;
}
.intro2 {
	width: 35%;
	height: auto;
}
.intro1-1 {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.intro-1-img, .intro-1-para {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.intro-1-img {
	width: 55%;
}
.intro-1-para {
	width: 45%;
	padding: 0px 15px;
    line-height: 24px;
}
.intro2 {
	line-height:28px;
}
.intro2 .heading {
	font-family: 'Akrobat ExtraBold';
	color: #f36301;
	font-size:40px;	
}
.event {
	background-color: #f2f1f1;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px -1px #b9b8b8;
}
.event-img {
	margin-bottom: 10px;
}
.event-des h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
}
.u-col {
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	width: 50%;
	color: #555;
}
.u-col i {
	margin-right: 4px;
	font-size: 20px;
	vertical-align: middle;
}
.event-para {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 15px;
}
button.u-btn {
	background-color: #f36301;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	padding: 5px 16px;
}
.services {
	padding: 30px 0px;
}
.services .heading, #u_videos .heading {
	font-family: 'Akrobat ExtraBold';
	color: #565656;
	font-size:40px;
	text-transform: uppercase;
}
.services .head p, #u_videos .head p {
	font-family: 'MYRIADPROREGULAR';
	font-size: 16px;
	color: #565656;
}
.services .head, #u_videos .head {
	margin-bottom: 30px;
}
.ser-sec {
	width: 100%;
}
.ser {
	width: 33.33%;
	display: inline-block;
	margin-right: -4px;
}
.ser-in {
	padding: 30px;
	text-align: center;
}
.ser-in h3 {
	text-transform: uppercase;
	font-family: 'Akrobat ExtraBold';
	color: #565656;
	font-size:28px;
	margin-bottom: 50px;
}
.ser-in img {
	width: 100px;
}
.ser-in p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 26px;
	color: #565656;
	font-size: 16px;
	margin: 30px 0px;
}
.ser-in button {
	padding: 6px 16px;
	background-color: #f36301;
	color: #fff;
	border: none;
	border-radius: 10px;
}
.videos {
	width: 100%;
	height: auto;
	padding-bottom: 0px;
}
.videos .video {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}

footer {
	background-color: #15191f;
	color: #fff;
	padding: 30px 0px;
}
.foot {
	width: 25%;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	padding: 40px 20px;
	box-sizing: border-box;
}
.foot-logo {
	width: 120px;
	margin-bottom: 20px;
}
.blog {
	width: 100%;
	margin-bottom: 20px;
}
.blog-img, .blog-des {
	width: 25%;
	height: auto;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;
}
.blog-des {
	width: 75%;
	font-size: 15px;
	line-height: 21px;
	padding: 1px 10px;
	box-sizing: border-box;
}
.blog-des span {
	font-size: 11px;
	color: #f36301;
}

.foot h3 {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-family: 'Akrobat ExtraBold';
	font-weight: 400;
}
.foot2 {
	width: 18%;
}
.foot3 {
	width: 32%;
}
.foot4 i.fa-paper-plane {
	display: inline-block;
	padding: 7.5px 7px;
	vertical-align: middle;
	background-color: #f36301;
	margin-top: -1px;
}
.foot4 input {
	border: none;
	display: inline-block;
	vertical-align: middle;
	padding: 3px 4px;
	margin-right: -5px;
}
.foot4 input:focus {
	outline: none;
}
.foot4 p {
	margin-bottom: 20px;
}
.foot-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.foot-menu li {
	padding: 5px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
}
.foot-soc-icons .soc_icons {
	text-align: center;
	width: 90%;
}
.foot-soc-icons {
	padding: 15px 0px;
}

/* =========================== Blog ====================== */
.headerr {
	height: 283px;
	background-origin: content-box;
}
.blog-header {
	background-image: url('../img/blog_header.png');
}
#page_title {
	width: 100%;
}
#page_title h2.heading {
	font-family: 'Akrobat ExtraBold';
	font-weight: 900;
	font-size: 55px;
	color: #000;
}
#page_title p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 26px;
	color: #565656;
	font-size: 16px;
}
#blog_main, #blog_side {
	display: inline-block;
	vertical-align: top;
	height: auto;
	margin-right: -5px;
}
#blog_main {
	width: 70%;
}
#blog_side {
	width: 30%;
}
.blog_in {
	width: 96%;
	margin-right: 4%;
	padding: 30px 0px;
}
.blog_card {
	margin-bottom: 30px;
}
.blog_img {
	width: 100%;
	position: relative;
}
.blog_des {
	box-sizing: border-box;
	padding: 15px;
}
.blog_img .date {
	width: 85px;
	height: 100px;
	background-color: #f36301;
	color: #fff;
	box-sizing: border-box;
	padding: 10px 15px;
	position: absolute;
	top: 0;
	left: 35px;
}
.date h6, .date p {
	font-size: 30px;
	margin-bottom: 0px;
}
.blog_title {
	font-family: 'Akrobat ExtraBold';
	font-weight: 900;
	font-size: 35px;
	color: #000;
	text-transform: uppercase;
}
.blog_des_p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 26px;
	color: #565656;
	font-size: 16px;
	margin-bottom: 20px;
}
a.link {
	display: inline-block;
	margin-left: 30px;
	color: #f36301;
}
.view_more {
	text-align: center;
}
button.view_more_btn {
	border: none;
	background-color: #f36301;
	color: #fff;
	padding: 7px 16px;
}
.side_bar_sec {
	margin-bottom: 30px !important;
}
.input {
	border: 1px solid #f362019c;
	width: 100%;
	padding: 5px;
}
.archieve_list {
	padding: 0px;
	list-style-type: none;
}
li.archieve_list_item {
	padding: 6px 3px;
	border-bottom: 1px solid #f362019c;
}
