@charset "utf-8";
/* CSS Document */

@font-face {
font-family: 'Akrobat ExtraBold';
font-style: normal;
font-weight: normal;
src: local('Akrobat ExtraBold'), url('Akrobat-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'MYRIADPROREGULAR';
	src: url('./MYRIADPROREGULAR.eot');
	src: local('MYRIADPROREGULAR'), url('./MYRIADPROREGULAR.woff') format('woff'), url('./MYRIADPROREGULAR.ttf') format('truetype');
}
@font-face {
	font-family: 'Conv_OratorStd';
	src: url('fonts/OratorStd.eot');
	src: local('☺'), url('fonts/OratorStd.woff') format('woff'), url('fonts/OratorStd.ttf') format('truetype'), url('fonts/OratorStd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.u_wrapper {
	width: 80%;
	margin: 0 auto;
}
header {
}
section {
	padding: 15px 0px;
}
section#u_slider {
	padding-top: 0px !important;
}
.header1 {
	background-color: #163b63;
	color: #fff;
	padding: 10px 0px;
}
p {
	margin: 0;
	padding:0;
}
.header1 p {
	display: inline-block;
	font-size: 13px;
	padding: 5px 15px;
}
.u_header_left, .u_header_right {
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}
.u_header_left {
	width: 70%;
}
.u_header_right {
	width: 30%;
}
.soc_icons {
	padding:0;
	margin:0;
	text-align:right;
	list-style-type:none;
}
.soc_icons li.icon {
	display: inline-block;
	padding: 5px 10px;
}
.header2 {
	background-color: #fff;
}
.logo {
	padding: 15px 0px;
    display: inline-block;
    width: 170px;
    height: auto;
}
.logo img {
	width: 100%;
	height: auto;
}
.header3 {
	background-color: #f36301;
}
.u_main_menu {
	
}
.main-menu {
	list-style-type: none;
	margin: 0;
	text-align:right;
	padding: 8px 0px;
}
.main-menu li {
	display: inline-block;
	margin-right:-4px;
	border-right: 1px solid #fff;
	color: #fff;
	padding: 0px 20px;
	line-height:14px;
	text-transform:uppercase;
	font-size: 14px;
}
.main-menu li:last-child {
	border-right: 0px;
}
.main-menu li a {
	color: inherit;
	text-decoration:none;
}
.slider {
	height: 500px;
	background-image:url(../img/bg.png);
}
.parallax {
	height: 260px;
	background-image:url(../img/bg2.png);
	position:relative;
	background-attachment: fixed;
    background-size: cover;
}
.parallax-in {
	background-color:rgba(247,165,13,0.8);
	color: #fff;
	position:absolute;
	width: 100%;
	height: 100%;
}
.parallax-in p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 46px;
	text-transform: uppercase;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 60px 0px;
}
.intro1 {
	width: 65%;
	height: auto;
}
.intro1 p {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #3d3d3d;
	line-height: 27px;
}
.intro1 .heading {
	font-family: 'Akrobat ExtraBold';
	color: #264b73;
	font-size:47px;
	margin-bottom: 25px;
}
.intro1, .intro2 {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding: 15px;
	box-sizing: border-box;
}
.intro2 {
	width: 35%;
	height: auto;
}
.intro1-1 {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.intro-1-img, .intro-1-para {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.intro-1-img {
	width: 55%;
}
.intro-1-para {
	width: 45%;
	padding: 0px 15px;
    line-height: 24px;
}
.intro2 {
	line-height:28px;
}
.intro2 .heading {
	font-family: 'Akrobat ExtraBold';
	color: #f36301;
	font-size:40px;	
}
.event {
	background-color: #f2f1f1;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px -1px #b9b8b8;
}
.event-img {
	margin-bottom: 10px;
}
.event-des h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
}
.u-col {
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	width: 50%;
	color: #555;
}
.u-col i {
	margin-right: 4px;
	font-size: 20px;
	vertical-align: middle;
}
.event-para {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 15px;
}
button.u-btn {
	background-color: #f36301;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	padding: 7px 20px;
}
.services {
	padding: 30px 0px;
}
.services .heading, #u_videos .heading {
	font-family: 'Akrobat ExtraBold';
	color: #565656;
	font-size:40px;
	text-transform: uppercase;
}
.services .head p, #u_videos .head p {
	font-family: 'MYRIADPROREGULAR';
	font-size: 16px;
	color: #565656;
}
.services .head, #u_videos .head {
	margin-bottom: 30px;
}
.ser-sec {
	width: 100%;
}
.ser {
	width: 33.33%;
	display: inline-block;
	margin-right: -4px;
}
.ser-in {
	padding: 30px;
	text-align: center;
}
.ser-in h3 {
	text-transform: uppercase;
	font-family: 'Akrobat ExtraBold';
	color: #565656;
	font-size:28px;
	margin-bottom: 50px;
}
.ser-in img {
	width: 100px;
}
.ser-in p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 26px;
	color: #565656;
	font-size: 16px;
	margin: 30px 0px;
}
.ser-in button {
	padding: 6px 16px;
	background-color: #f36301;
	color: #fff;
	border: none;
	border-radius: 10px;
}
.videos {
	width: 100%;
	height: auto;
	padding-bottom: 0px;
}
.videos .video {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}

footer {
	background-color: #15191f;
	color: #fff;
	padding: 30px 0px;
}
.foot {
	width: 25%;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	padding: 40px 20px;
	box-sizing: border-box;
}
.foot-logo {
	width: 120px;
	margin-bottom: 20px;
}
.blog {
	width: 100%;
	margin-bottom: 20px;
}
.blog-img, .blog-des {
	width: 25%;
	height: auto;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;
}
.blog-des {
	width: 75%;
	font-size: 15px;
	line-height: 21px;
	padding: 1px 10px;
	box-sizing: border-box;
}
.blog-des span {
	font-size: 11px;
	color: #f36301;
}

.foot h3 {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-family: 'Akrobat ExtraBold';
	font-weight: 400;
}
.foot2 {
	width: 18%;
}
.foot3 {
	width: 32%;
}
.foot4 i.fa-paper-plane {
	display: inline-block;
	padding: 7.5px 7px;
	vertical-align: middle;
	background-color: #f36301;
	margin-top: -1px;
}
.foot4 input {
	border: none;
	display: inline-block;
	vertical-align: middle;
	padding: 3px 4px;
	margin-right: -5px;
}
.foot4 input:focus {
	outline: none;
}
.foot4 p {
	margin-bottom: 20px;
}
.foot-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.foot-menu li {
	padding: 5px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
}
.foot-soc-icons .soc_icons {
	text-align: center;
	width: 90%;
}
.foot-soc-icons {
	padding: 15px 0px;
}

/* =========================== Blog ====================== */
.headerr {
	height: 283px;
	background-origin: content-box;
}
.blog-header {
	background-image: url('../img/blog_header.png');
}
#page_title {
	width: 100%;
}
#page_title h2.heading {
	font-family: 'Akrobat ExtraBold';
	font-weight: 900;
	font-size: 55px;
	color: #000;
}
#page_title p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 26px;
	color: #565656;
	font-size: 16px;
}
#blog_main, #blog_side {
	display: inline-block;
	vertical-align: top;
	height: auto;
	margin-right: -5px;
}
#blog_main {
	width: 70%;
}
#blog_side {
	width: 30%;
}
.blog_in {
	width: 96%;
	margin-right: 4%;
	padding: 30px 0px;
}
.blog_card {
	margin-bottom: 30px;
}
.blog_img {
	width: 100%;
	position: relative;
}
.blog_des {
	box-sizing: border-box;
	padding: 15px;
}
.blog_img .date {
	width: 85px;
	height: 100px;
	background-color: #f36301;
	color: #fff;
	box-sizing: border-box;
	padding: 10px 15px;
	position: absolute;
	top: 0;
	left: 35px;
}
.date h6, .date p {
	font-size: 30px;
	margin-bottom: 0px;
}
.blog_title {
	font-family: 'Akrobat ExtraBold';
	font-weight: 900;
	font-size: 35px;
	color: #000;
	text-transform: uppercase;
}
.blog_des_p {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 26px;
	color: #565656;
	font-size: 16px;
	margin-bottom: 20px;
}
a.link {
	display: inline-block;
	margin-left: 30px;
	color: #f36301;
}
.view_more {
	text-align: center;
}
button.view_more_btn {
	border: none;
	background-color: #f36301;
	color: #fff;
	padding: 7px 16px;
}
.side_bar_sec {
	margin-bottom: 30px !important;
}
.input {
	border: 1px solid #f362019c;
	width: 100%;
	padding: 5px;
}
.archieve_list {
	padding: 0px;
	list-style-type: none;
}
li.archieve_list_item {
	padding: 6px 3px;
	border-bottom: 1px solid #f362019c;
}
form > div {
	position: relative;
}
form > div > label {
	position: absolute;
	left: 5px;
	top: 3px;
	transition: all 0.5s ease-in-out;
	text-transform: uppercase;
	opacity: 0.4;
}
form > div > input, form > div > textarea {
	width: 100%;
	border: none;
	padding: 5px;
	border-bottom: 1px solid #264b73;
}
input:focus, textarea:focus {
	outline: none;
	border-bottom: 1px solid #f36301;
}
input:focus + label, textarea:focus + label {
	/* do something with the label */
	top: -25px;
    left: 0px;
	font-size: 13px;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
.formrow {
	margin-bottom: 30px;
	margin-top: 10px;
}
.contForm, .address {
	display: inline-block;
	width: 50%;
	margin-right: -5px;
	padding: 10px;
	vertical-align: top;
}
#map {
	padding: 0;
	height: 450px;
}
#pillars {
	background-color: #f1f1f1;
}
#pillars h4.blog_title {
	margin-bottom: 0px;
	font-size: 35px;
	color: #444;
	padding-top: 20px;
}
.logos {
	width: 100%;
	padding: 30px 0px;
}
.logos .pillarlogo {
	width: 33.33%;
	margin-right: -5px;
	display: inline-block;
	vertical-align: middle;
	/* padding: 10px 60px; */
	box-sizing: border-box;
	text-align: center;
}

.pillarlogo img {
}
/* .aac img {
	width: 200px !important;
}
.math img {
	width: 360px;
}
.vinayak img {
	width: 300px;
} */

.conthead.heading {
	text-transform: uppercase;
}
.address {
	padding: 10px 20px;
}
.address1 {
	width: 100%;
	padding: 20px;
}
.addressicon {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	padding: 5px 20px;
	text-align: center;
}
.addressicon img {
	width: 50px;
	height:auto;
}
.addresspara {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}
.soci-icons {
	padding: 10px 65px;
}
.soci-icons .soc_icons {
	text-align: left;
	font-size: 30px;
}
h2.new {
	font-family: 'Conv_OratorStd';
}
.introdiv {
	width: 50%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	padding: 10px 30px;
}
p.sub-head {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 20px;
}
h6.secondtitle {
	font-family: 'Akrobat ExtraBold';;
	font-size:28px;
	text-transform: uppercase;
}
.missionpara p, p.ralelight {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px;
}
.missionpara {
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	margin-right: -5px;
}
.missionimg {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	margin-right: -5px;
	text-align: right;
}
.missionimg img {
	width: 80%;
}
.introo2-1, .introo2-2 {
	margin-bottom: 20px;
}
.skillspara p {
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
}
.skillspara, .skillsgraph {
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	padding: 30px 30px;
	box-sizing: border-box;
}
.skillspara {
	width: 40%;
}
.skillsgraph {
	width: 60%;
}
.skillspara .secondtitle {
	font-size: 30px;
	margin-bottom: 20px;
}
.sk-gr {
	margin-bottom: 15px;
}
.sk-gr label {
	text-transform: uppercase;
	margin-bottom: 15px;
}
.sk-gr .pr-bar {
	width: 100%;
	background-color: #eee;
	height: 7px;
	position: relative;
}
.pr-bar .in {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #f36301;
}
#ind-train .in {
	width: 90%;
}
#seminars .in {
	width: 75%;
}
#projects .in {
	width: 85%;
}
.ab1-par .parallax-in {
	background-color: #35597bde
}
.ab1-par .parallax-in p {
	font-weight: 100;
}
.whyus-icon {
	width: 90px;
	height: 90px;
	display: inline-block;
	background-color: #f36301;
	margin-bottom: 20px;
	border-radius: 100px;
	line-height: 80px;
}
.whyus-icon img {
	height: 40px;
	width: auto;
	display: inline-block;
}
.first-col {
	padding: 20px 10px;
}
.first-col p {
	width: 90%;
}
#whyus h6.secondtitle {
	font-size: 26px;
}
.mem-para * {
	margin: 0;
	padding: 0;
	line-height: 24px;
}
.mem-icon {
	position: relative;
	width: 100%;
	height: 310px;
	background-color: #f36301;
}
.team-mems {
	margin-top: 90px;
}
.mem-icon img {
	position: absolute;
	bottom: 0;
	left:5%;
	width: 90%;
}
.tmem {
	text-align: center;
}
h6.mem-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #15254e;
}
.mem-para {
	padding: 30px 20px;
}
.mem-para p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #15254e;
}
#myteam h2.heading {
	font-family: 'Akrobat ExtraBold';
	font-weight: 900;
	font-size: 55px;
	color: #000;
	text-transform: uppercase;
}
section#myteam, #whyus {
	padding: 40px 0px;
}
#myteam .head p {
	font-family: 'MYRIADPROREGULAR';
    font-size: 16px;
    color: #565656;
}
.ab1-par {
	background-image: url('../img/about-bg-1.png');
}
#train-intro .heading, #whocan .heading {
	font-family: 'Akrobat ExtraBold';
    color: #565656;
    font-size: 40px;
    text-transform: uppercase;
}
.train-body {
	padding-bottom: 30px;
}
.whocan-body img {
	width: 50px;
	margin-bottom: 20px;
}
.whocan-body h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #111;
}
.whocan-body {
	padding: 40px 0px;
}
.whocan-body .col {
	padding: 30px 0px;
	background-color: #f2f2f2;
}
.whocan-body .col:hover {
	background-color: #ebebeb;
}
.breadcrump {
	/* position: absolute;
	top: 45%;
	left: 0; */
	padding: 120px 0px;
}
.breadcrump h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: 600;
	color: #f36301;
	margin: 0;
	text-shadow: 0px 0px 1px #555;
}
.breadcrump p {
	padding: 0px 3px;
	color: #fff;
}
.breadcrump p a {
	text-decoration: none;
	color: inherit;
}
.video {
	position: relative;
}
.video .layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.layer .play {
	text-align: center;
	padding: 100px 0px 0px 0px;
}
.play img {
	width: 50px;
	cursor: pointer;
	margin-bottom: 6px;
}
.layer .vid-det {
	padding: 35px 0px 0px 15px;
}
.layer .vid-det * {
	margin:0;
	padding:0;
}
.video:hover .layer {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
