@charset "utf-8";
/* CSS Document */

@font-face {
font-family: 'Akrobat ExtraBold';
font-style: normal;
font-weight: normal;
src: local('Akrobat ExtraBold'), url('Akrobat-ExtraBold.woff') format('woff');
}

img {
	width: 100%;
	height: auto;
}

.u_wrapper {
	width: 80%;
	margin: 0 auto;
}
header {
}
.header1 {
	background-color: #163b63;
	color: #fff;
	padding: 10px 0px;
}
p {
	margin: 0;
	padding:0;
}
.header1 p {
	display: inline-block;
	font-size: 13px;
	padding: 5px 15px;
}
.u_header_left, .u_header_right {
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}
.u_header_left {
	width: 70%;
}
.u_header_right {
	width: 30%;
}
.soc_icons {
	padding:0;
	margin:0;
	text-align:right;
	list-style-type:none;
}
.soc_icons li.icon {
	display: inline-block;
	padding: 5px 10px;
}
.header2 {
	background-color: #fff;
}
.logo {
	padding: 15px 0px;
    display: inline-block;
    width: 170px;
    height: auto;
}
.logo img {
	width: 100%;
	height: auto;
}
.header3 {
	background-color: #f36301;
}
.u_main_menu {
	
}
.main-menu {
	list-style-type: none;
	margin: 0;
	text-align:right;
	padding: 8px 0px;
}
.main-menu li {
	display: inline-block;
	margin-right:-4px;
	border-right: 1px solid #fff;
	color: #fff;
	padding: 0px 20px;
	line-height:14px;
	text-transform:uppercase;
	font-size: 14px;
}
.main-menu li:last-child {
	border-right: 0px;
}
.main-menu li a {
	color: inherit;
	text-decoration:none;
}
.slider {
	height: 500px;
	background-image:url(../img/bg.png);
}
.parallax {
	height: 300px;
	background-image:url(../img/bg2.png);
	position:relative;
}
.parallax-in {
	background-color:rgba(247,165,13,0.83);
	color: #fff;
	position:absolute;
	width: 100%;
	height: 100%;
}
.intro1 {
	width: 65%;
	height: auto;
}
.intro1 .heading {
	font-family: 'Akrobat ExtraBold';
	color: #264b73;
	font-size:47px;
}
.intro1, .intro2 {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding: 15px;
	box-sizing: border-box;
}
.intro2 {
	width: 35%;
	height: auto;
}
.intro1-1 {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.intro-1-img, .intro-1-para {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.intro-1-img {
	width: 55%;
}
.intro-1-para {
	width: 45%;
	padding: 0px 15px;
    line-height: 28px;
}
.intro-2 {
	line-height:28px;
}



